@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-dark: #cc0000;
	--primary-light: #f6383d;
}

.icon {
	color: var(--primary-dark);
}

@layer base {
	@font-face {
		font-family: 'Pacifico';
		src: url('/fonts/Pacifico-Regular.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins-Regular.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}

	li {
		@apply p-4;
	}

	h1 {
		@apply text-3xl md:text-4xl font-bold;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-2xl font-bold;
	}
	button {
		@apply p-1 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
	}
	.icon {
		@apply text-2xl cursor-pointer;
	}
	Link {
		@apply cursor-pointer;
	}
}
